h1,h2,h3,h4,h5,h6,p,a,button {
    font-family: 'Roboto', sans-serif
}

.bg-vionli {
    background: #6286a8;
    background: -webkit-linear-gradient(left, #6286a8, #9f8eb7);
    background: -o-linear-gradient(right, #6286a8, #9f8eb7);
    background: -moz-linear-gradient(right, #6286a8, #9f8eb7);
    background: linear-gradient(to right, #6286a8, #9f8eb7);
    color: #fff;
}

th {
    text-align: center;
}

a:hover {
    text-decoration: none;
    color: unset;
	cursor: pointer;
}
a{
    color: unset;
}
img:hover {
    cursor: pointer;
}

.modal-content .modal-header {
    background-color: #dedada;
}
.modal-content .modal-title {
    color: #000000;
}
.nav-tabs.style-4 {
    border-bottom: 1px solid #dedada;
}
.inline-block {
	display: inline;
}
.modal-full {
	width: 95%;
}

.header-dropdown-buttons .btn-group .dropdown-menu.cart {
    min-width: 500px !important;
}

.padding-5 {
    padding: 5px;
}

.max-width-100 {
    width: 100px !important;
}
.max-width-150 {
    width: 150px !important;
}

.padding-10 {
	padding: 10px;
}
.total-vionli{
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    /*font-size: 12px;*/
    font-weight: bold;
    color: #000000;
    background-color: #eaeaea;
    /*color: rgba(255, 0, 0, 0.7);*/
}

.table > thead > tr > th {
    background-color: #dedada;
}
.product-img {
    width: 100%;
    height: 200px;
    text-align: center;
}
.product-img img {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
    display: inline-block;
}
.title-product {
    font-weight: bold;
    color: #333333;
    text-align: center;
    margin-top: 10px;
}
.btn-add-vionli {
    background: #395592;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: normal;
}
.btn-default-transparent {
    border: solid 1px #395592;
    color: #333333;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    color: #333333;
    font-weight: bold;
    /*background-color: transparent;*/
}

.navbar-default .navbar-nav > li > a {
    color: #8b8a8a;
}

.btn-danger-vionli {
    background-color: #ff5151;
    border: none;
    min-width: 250px
}
.text-danger-vionli {
    color: #ff5151;
}

.modal {
    max-height: 800px;
}
.modal-footer {
    padding: 0px;
    padding-right: 30px;
}
.product-image {
    border: solid 1px #000000;
}
.product-thumbnail {
    margin-top: 10px
}
.box-border {
    border: solid 1px #000000;
}
.swiper-container {
    position: relative;
    width: 100%;
}
.swiper-slide {
    text-align: center;
    padding: 5px;
    border: solid 1px grey;
    /*font-size: 18px;*/
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide.active {
    border: solid 1px blue;   
}

.product-bg-image {
    height: 230px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}