<!DOCTYPE html>
<html lang="vn">

<head>
	<meta charset="utf-8">
	<title>Vionli</title>
	<meta name="description" content="Vionli">
	<meta name="author" content="Vionli">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="images/vionli/icon.png">

	<link href="bootstrap/css/bootstrap.css" rel="stylesheet">

	<link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

	<link href="fonts/fontello/css/fontello.css" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<link href="plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
	<link href="plugins/rs-plugin/css/settings.css" rel="stylesheet">
	<link href="css/animations.css" rel="stylesheet">
	<link href="plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
	<link href="plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
	<link href="plugins/hover/hover-min.css" rel="stylesheet">

	<link href="css/style.css" rel="stylesheet" >

	<link href="css/skins/light_blue.css" rel="stylesheet">

	<link rel="stylesheet" href="plugins/swiper/dist/css/swiper.min.css">

	<link href="css/placeholder.css" rel="stylesheet" type="text/css">

	<link href="css/custom.css" rel="stylesheet">
</head>

<body class="no-trans">
	<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

	<div class="page-wrapper">
		<div class="header-container">
			<header class="header fixed clearfix">
				<div class="">
					<div class="col-md-12">
						<div class="header-right clearfix">
							<div class="main-navigation  animated with-dropdown-buttons">
								<nav class="navbar navbar-default" role="navigation">
									<div class="container-fluid">
										<div class="navbar-header">
											<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
												<span class="sr-only">Toggle navigation</span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
											</button>

										</div>

										<div class="collapse navbar-collapse" id="navbar-collapse-1">
											<ul class="nav navbar-nav ">
												<li class="active">
													<a href="">Điện thoại</a>
												</li>
												<li class="">
													<a href="">Thời trang nữ</a>
												</li>
												<li class="">
													<a href="">Laptop</a>
												</li>
												<li class="">
													<a href="">Giày</a>
												</li>
												<li class="">
													<a href="">Nhà cửa</a>
												</li>
												<li class="">
													<a href="">Bàn ghế</a>
												</li>
												<li class="">
													<a href="">Điện lạnh</a>
												</li>
											</ul>

											<div class="header-dropdown-buttons hidden-xs">
												<div class="btn-group dropdown">
													<button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i></button>
													<ul class="dropdown-menu dropdown-menu-right dropdown-animation">
														<li>
															<form role="search" class="search-box margin-clear">
																<div class="form-group has-feedback">
																	<input type="text" class="form-control" placeholder="Tìm kiếm">
																	<i class="icon-search form-control-feedback"></i>
																</div>
															</form>
														</li>
													</ul>
												</div>
												<div class="btn-group dropdown">
													<button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-basket-1"></i><span class="cart-count default-bg">0</span></button>
													<ul class="dropdown-menu dropdown-menu-right dropdown-animation cart min-width-500" onclick="event.stopPropagation();">
														<li>
															<table class="table table-hover">
																<thead>
																	<tr>
																		<th class="">Sản phẩm</th>
																		<th class="">S.L</th>
																		<th class="">Đơn giá</th>
																		<th class="">Thành tiền</th>
																		<th class="">Xóa</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td class="">
																			<a href="shop-product.html">
																				Điện thoại iPhone X - 128GB
																			</a>
																		</td>
																		<td class="text-center">1</td>
																		<td class="text-center">15.000.000</td>
																		<td class="text-right">15.000.000</td>
																		<td class="">
																			<i class="fa fa-remove fa-fw text-danger-vionli"></i>
																		</td>
																	</tr>
																	<tr>
																		<td class="">
																			<a href="shop-product.html">
																				Điện thoại iPhone X - 128GB
																			</a>
																		</td>
																		<td class="text-center">1</td>
																		<td class="text-center">15.000.000</td>
																		<td class="text-right">15.000.000</td>
																		<td class="">
																			<i class="fa fa-remove fa-fw text-danger-vionli"></i>
																		</td>
																	</tr>
																	<tr>
																		<td class="total-vionli" colspan="3">
																			<strong style="color: #000000">TỔNG TIỀN THANH TOÁN</strong>
																		</td>
																		<td class="total-vionli text-right">
																			30.000.000
																		</td>
																		<td class="total-vionli"></td>
																	</tr>
																</tbody>
															</table>
															<div class="panel-body text-right">	
																<!-- <a href="" class="btn btn-sm btn-default-transparent btn-animated">
																	Xem giỏ hàng
																	<i class="fa fa-shopping-cart"></i>
																</a> -->
																<a href="" class="btn btn-danger btn-danger-vionli">
																	Thanh Toán
																	<!-- <i class="fa fa-money"></i> -->
																</a>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>

			</header>
		</div>
	</div>

	<!-- <section class="section light-gray-bg clearfix">
		<div class="col-xs-12 col-sm-3 masonry-grid-item padding-5">
			<div class="listing-item white-bg bordered mb-20">
				<div class="animated-background" style="height: 150px"></div>
			</div>
			<div class="listing-item white-bg bordered mb-20">
				<div class="animated-background" style="height: 30px"></div>
			</div>
			<div class="listing-item white-bg bordered mb-20">
				<div class="animated-background" style="height: 20px"></div>
			</div>
			<div class="col-xs-6 padding-5">
				<div class="animated-background" style="height: 40px"></div>
			</div>
			<div class="col-xs-6 padding-5">
				<div class="animated-background" style="height: 40px"></div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-3 masonry-grid-item padding-5">
			<div class="listing-item white-bg bordered mb-20">
				<div class="animated-background" style="height: 150px"></div>
			</div>
			<div class="listing-item white-bg bordered mb-20">
				<div class="animated-background" style="height: 30px"></div>
			</div>
			<div class="listing-item white-bg bordered mb-20">
				<div class="animated-background" style="height: 20px"></div>
			</div>
			<div class="col-xs-6 padding-5">
				<div class="animated-background" style="height: 40px"></div>
			</div>
			<div class="col-xs-6 padding-5">
				<div class="animated-background" style="height: 40px"></div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-3 masonry-grid-item padding-5">
			<div class="listing-item white-bg bordered mb-20">
				<div class="animated-background" style="height: 150px"></div>
			</div>
			<div class="listing-item white-bg bordered mb-20">
				<div class="animated-background" style="height: 30px"></div>
			</div>
			<div class="listing-item white-bg bordered mb-20">
				<div class="animated-background" style="height: 20px"></div>
			</div>
			<div class="col-xs-6 padding-5">
				<div class="animated-background" style="height: 40px"></div>
			</div>
			<div class="col-xs-6 padding-5">
				<div class="animated-background" style="height: 40px"></div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-3 masonry-grid-item padding-5">
			<div class="listing-item white-bg bordered mb-20">
				<div class="animated-background" style="height: 150px"></div>
			</div>
			<div class="listing-item white-bg bordered mb-20">
				<div class="animated-background" style="height: 30px"></div>
			</div>
			<div class="listing-item white-bg bordered mb-20">
				<div class="animated-background" style="height: 20px"></div>
			</div>
			<div class="col-xs-6 padding-5">
				<div class="animated-background" style="height: 40px"></div>
			</div>
			<div class="col-xs-6 padding-5">
				<div class="animated-background" style="height: 40px"></div>
			</div>
		</div>
	</section> -->

	<section class="section light-gray-bg clearfix">
		<!-- List product -->
		<div class="col-xs-6 col-sm-3 col-md-2 masonry-grid-item padding-5">
			<div class="listing-item white-bg bordered mb-20 padding-10">
				<div class="clearfix"></div>
				<div class="product-info" data-toggle="modal" data-target="#detailProduct" onclick="getSwiper()">
                    <div class="product-img">
                        <img src="images/product/test3.jpeg">
                    </div>
                    <div class="title-product mg-top-5">
                        <span class="name">Điện thoại iPhone X</span>
                    </div>
                </div>
				<div class="clearfix"></div>
				<h5 class="clearfix text-center text-danger-vionli">15.000.000 VNĐ</h5>
				<div class="elements-list clearfix text-center">
					<a class="btn btn-sm btn-default-transparent" style="">
						Chia sẻ
					</a>
					<a class="btn btn-sm btn-primary btn-add-vionli btn-animated" style="">
						Thêm
						<i class="fa fa-shopping-cart"></i>
					</a>
				</div>
			</div>
		</div>
		<!-- Modal Detail Product -->
		<div id="detailProduct" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-full">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="myLargeModalLabel">
							<span>Điện thoại iPhone X - 128GB</span>
						</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-4 col-md-3">
								<div class="product-image padding-5">
									<img id='imageProduct' src="images/product/phone1.png" width="100%">
								</div>
								<div class="product-thumbnail">
									<div class="swiper-container">
										<div class="swiper-wrapper">
											<div class="tn-product swiper-slide active">
												<img src="images/product/phone1.png" width="100%">
											</div>
											<div class="tn-product swiper-slide">
												<img src="images/product/phone2.png" width="100%">
											</div>
											<div class="tn-product swiper-slide">
												<img src="images/product/phone3.png" width="100%">
											</div>
											<div class="tn-product swiper-slide">
												<img src="images/product/phone4.png" width="100%">
											</div>
										</div>
										<div class="swiper-pagination"></div>
									</div>
								</div>
							</div>
							<div class="col-sm-8 col-md-9">
								<h3>Miêu tả sơ bộ</h3>
								<!-- <div class="loading">
									<div class="animated-background" style="height: 30px"></div>
									<br />
									<div class="animated-background" style="height: 30px"></div>
									<br />
									<div class="animated-background" style="height: 30px"></div>
								</div> -->
								<hr />
								<div class="row">
									<div class="form-inline">
										<div class="col-sm-3 text-left">
											<a class="btn btn-primary">
												<i class="fa fa-facebook"></i>
												<span class="hidden-xs">Chia sẻ</span>
											</a>
										</div>
										<div class="col-sm-9 text-right">
											<input type="number" class="form-control max-width-150" placeholder="Số lượng">
											<button type="button" class="btn btn-danger btn-danger-vionli" data-dismiss="modal">
												Thêm vào giỏ hàng
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="pv-30">
							<div class="row">
								<div class="col-xs-12">
									<ul class="nav nav-tabs style-4" role="tablist">
										<li class="active">
											<a href="#h2tab2" role="tab" data-toggle="tab" style="background-color: #dedada; border: none; color: #000000;">Miêu tả chi tiết</a>
										</li>
									</ul>
									<div class="tab-content padding-top-clear padding-bottom-clear">
										<div class="tab-pane fade in active" id="h2tab2">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section light-gray-bg clearfix">
		<div class="col-xs-12">
			<div class="pull-left">
				<h2>CỬA HÀNG ĐIỆN THOẠI</h2>
				<p>Mã cửa hàng: NQH071193</p>
			</div>
			<div class="pull-right text-right">
				<img src="images/vionli/logo-1024.png" width="150px;">
				<p>Đảm bảo bởi Vionli</p>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="table-responsive">
				<table class="table cart">
					<thead>
						<tr>
							<th class="text-left">Tên Sản phẩm </th>
							<th class="max-width-100">Số lượng</th>
							<th class="text-right">Đơn Giá</th>
							<th class="text-right">Thành tiền</th>
							<th>Xóa</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="">
								Điện thoại iPhone X - Màu đỏ - 126GB
							</td>
							<td>
								<div class="form-group">
									<input type="number" class="form-control" value="1">
								</div>											
							</td>
							<td class="text-right">
								15.000.000
							</td>
							<td class="text-right">
								15.000.000
							</td>
							<td class="text-center">
								<i class="fa fa-remove fa-fw text-danger-vionli"></i>
							</td>
						</tr>
						<tr>
							<td class="">
								Điện thoại iPhone X - Màu đỏ - 126GB
							</td>
							<td>
								<div class="form-group">
									<input type="text" class="form-control" value="1">
								</div>											
							</td>
							<td class="text-right">
								15.000.000
							</td>
							<td class="text-right">
								15.000.000
							</td>
							<td class="text-center">
								<i class="fa fa-remove fa-fw text-danger-vionli"></i>
							</td>
						</tr>
						<tr>										
							<td class="total-vionli" colspan="3">Phí vân chuyển</td>
							<td class="total-vionli text-right">0</td>
							<td class="total-vionli"></td>
						</tr>
						<tr>
							<td class="total-vionli" colspan="3">TỔNG TIỀN THANH TOÁN</td>
							<td class="total-vionli text-right">15.000.000</td>
							<td class="total-vionli"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row col-xs-12" style="">
			<div class="col-xs-12 col-sm-6">
				<div class="radio">
					<label>
						<input type="radio" name="infoCheck" ng-model="infoCheck" value="infoSave">
						Tiếp tục với thông tin đã lưu
					</label>
				</div>
				<div class="bordered padding-10">
					<p><strong>Nguyễn Quang Học</strong></p>
					<p>Điện thoại: 01214 823 130</p>
					<p>Địa chỉ: 37/12 C1, P.13, Quận Tân Bình, Tp. HCM</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="radio">
					<label>
						<input type="radio" name="infoCheck" ng-model="infoCheck" value="infoNew">
						Hoặc nhập thông tin đặt hàng mới
					</label>
				</div>
				<div>
					<div class="form-group">
						<input type="text" class="form-control" ng-model="userPay.name" placeholder="Họ và tên" required
						ng-readonly="infoCheck === 'infoSave'">
					</div>
					<div class="form-group">
						<textarea class="form-control" rows="2" ng-model="userPay.address" placeholder="Địa chỉ nhận hàng"
						required ng-readonly="infoCheck === 'infoSave'"></textarea>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" ng-model="userPay.phone" placeholder="Số điện thoại (bắt buộc)"
						required ng-readonly="infoCheck === 'infoSave'">
					</div>
					<div class="form-group">
						<textarea class="form-control" rows="4" ng-model="userPay.note" placeholder="Ghi chú"
						ng-readonly="infoCheck === 'infoSave'"></textarea>
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-checked="userPay.saveInfo">
								Lưu thông tin cho lần mua tiếp theo
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-xs-12 text-center margin-top-25">
			<button type="button" class="btn btn-lg btn-danger-vionli btn-primary" style="width: 300px">Đặt Hàng
			</button>
		</div>
	</section>

	<section class="section light-gray-bg clearfix hidden-xs">
		<h4 class="text-center">Sau khi đặt hàng sẽ như thế nào ?</h4>
		<div class="col-sm-3 text-center">
			<span class="icon default-bg circle">1</span>
			<p>Vionli sẽ gọi tới bạn để xác thực thông tin đặt hàng.</p>
			
		</div>
		<div class="col-sm-3 text-center">
			<span class="icon default-bg circle">2</span>
			<p>Đóng gói sản phẩm và tiến hàng giao hàng trên toàn quốc.</p>
		</div>
		<div class="col-sm-3 text-center">
			<span class="icon default-bg circle">3</span>
			<p>Khi hàng tới nơi, nhân viên giao hàng sẽ gọi điện trước cho bạn và chạy tới địa chỉ bạn cung cấp dể giao hàng. Ban thanh toán tiền cho nhân viên giao hàng.</p>
		</div>
		<div class="col-sm-3 text-center">
			<span class="icon default-bg circle">4</span>
			<p>Bạn có thể khiếu nại các vấn đề qua số tổng đài dưới.</p>
		</div>
		<div class="clearfix"></div>
		<div class="col-sm-3 text-center">
			<img class="inline-block" src="images/vionli/afterPay1.png">
		</div>
		<div class="col-sm-3 text-center">
			<img class="inline-block" src="images/vionli/afterPay2.png">
		</div>
		<div class="col-sm-3 text-center">
			<img class="inline-block" src="images/vionli/afterPay3.png">
		</div>
		<div class="col-sm-3 text-center">
			<img class="inline-block" src="images/vionli/afterPay4.png">
		</div>
		<div class="clearfix"></div>
		<div class="alert alert-danger" role="alert">
			<strong>Lưu ý:</strong> Vionli.com không bán hàng, Vionli là trung tâm giao dịch người bán, nhà cung cấp và khách hàng.
		</div>
		<div class="text-center">
			<btn class="btn btn-lg btn-primary min-width-250">
				Tiếp tục mua sắm
			</btn>
		</div>
	</section>

	<footer id="footer" class="clearfix">
		<div class="subfooter">
			<div class="container">
				<div class="subfooter-inner">
					<div class="row">
						<div class="col-md-12">
							<p class="text-center">Copyrights © 2017, Vionli.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script type="text/javascript" src="plugins/jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

	<!-- Modernizr javascript -->
	<script type="text/javascript" src="plugins/modernizr.js"></script>

	<!-- jQuery Revolution Slider  -->
	<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

	<!-- Isotope javascript -->
	<script type="text/javascript" src="plugins/isotope/isotope.pkgd.min.js"></script>

	<!-- Magnific Popup javascript -->
	<script type="text/javascript" src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>

	<!-- Appear javascript -->
	<script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>

	<!-- Count To javascript -->
	<!-- <script type="text/javascript" src="plugins/jquery.countTo.js"></script> -->

	<!-- Parallax javascript -->
	<!-- <script src="plugins/jquery.parallax-1.1.3.js"></script> -->

	<!-- Contact form -->
	<!-- <script src="plugins/jquery.validate.js"></script> -->

	<!-- Background Video -->
	<!-- <script src="plugins/vide/jquery.vide.js"></script> -->

	<!-- Owl carousel javascript -->
	<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.js"></script>

	<!-- SmoothScroll javascript -->
	<!-- <script type="text/javascript" src="plugins/jquery.browser.js"></script> -->
	<!-- <script type="text/javascript" src="plugins/SmoothScroll.js"></script> -->

	<!-- Initialization of Plugins -->
	<script type="text/javascript" src="js/template.js"></script>

	<!-- Swiper JS -->
	<script src="plugins/swiper/dist/js/swiper.min.js"></script>

	<!-- Initialize Swiper -->
	<script>
		var swiper;
        function getSwiper(argument) {
            setTimeout(function(){
                swiper = new Swiper('.swiper-container', {
                    slidesPerView: 4,
                    spaceBetween: 10,
                });
            },500)
        }

		$(".tn-product").click(function(){
			$("#imageProduct").attr("src","");
			$(".tn-product").removeClass("active");
			$(this).addClass("active");
		})
	
	</script>

	<!-- Custom Scripts -->
	<script type="text/javascript" src="js/custom.js"></script>
</body>
</html>
