.notification > table {
  border-top: solid 1px #e5e2e282;
}
.notification > table > tbody > tr > td {
  background-color: #e5e2e282;
}
.notification > table > tbody > tr.active > td {
  background-color:#fff !important;
}
.content {
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
}
.content > ul {
  border-radius: 15px;
}